.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    width: 1128px;
    padding: 24px 156px;
    margin: auto;
}

.gallery-item {
    list-style-type: none;

}

.gallery-image {
    width: 360px;
    height: 200px;
}